/src/OTLMOW/SampleCode/example.html
/src/OTLMOW/SampleCode/Output
/src/OTLMOW/SampleCode/Output/*
/.idea/dbnavigator.xml
/.idea/workspace.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/codeStyles/*
/dist/OTLMOW-0.1a1.tar.gz
